form {
	font-size: medium;
    padding-top: 10%;
    position: relative;
	margin: 0 auto;
    width: 350px;
    top: 8vh;
}
.titulo{
	font-weight: large;
	text-align: center;
}
.button{
    text-transform:initial;
    text-align: center
}
.title{
    padding-top: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
