.ion-color-purple {
    --ion-color-base: var(--color-purple);
    --ion-color-tint: var(--color-purple);
}

.ion-color-btn-cancel {
    --ion-color-base: var(--color-gray);
    --ion-color-tint: var(--color-gray);
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
