.ion-color-purple {
    --ion-color-base: var(--color-purple);
    --ion-color-tint: var(--color-purple);
}

.ion-color-btn-cancel {
    --ion-color-base: var(--color-gray);
    --ion-color-tint: var(--color-gray);
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.camera {
	height: 11%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.img_Label {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: Helvetica;
  font-size: 0.8em;
}
