.email {
    text-align: center;
}

.profile-photo {
    margin:10% auto;
    width: 150px;
    height: 150px;
}
.personal-information {
    padding-left: 9%;
}

.rating {
    padding: 1%;
    margin: 5%;
    text-align: center;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
}

