<ion-header>
	<ion-toolbar color="tertiary">
    	<ion-title class="ion-text-center">
      		Get it!
    	</ion-title>
  	</ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs class="navbar">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="publish">
        <ion-icon name="add"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="view-profile/{{currentUserId}}">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
