<ion-content>
  <ion-row>
    <ion-toolbar>
      <ion-col>
        <ion-title size="large" type="submit" expand="block">Publicar</ion-title>
      </ion-col>
    </ion-toolbar>
  </ion-row>

  <form [formGroup]="publicationForm" (ngSubmit)="savePublication()" novalidate>

    <ion-item lines="full">
      <ion-label size="small">Tipo *</ion-label>
      <ion-select formControlName="typePublishing" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="OFFER">Oferta</ion-select-option>
        <ion-select-option value="DEMAND">Demanda</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label size="small">Area de trabajo *</ion-label>
      <ion-select formControlName="workAreaId" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option *ngFor="let workarea of workareas" value={{workarea.id}}>{{workarea.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Direccion</ion-label>
      <ion-input formControlName="address" type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">tiempo requerido/ofertado</ion-label>
      <ion-input formControlName="timeRequiredOrOffered" type="number"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Honorarios</ion-label>
      <ion-input formControlName="tariff" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-button (click)="cancel()">Cancelar</ion-button>
    <ion-button type="submit" [disabled]="!publicationForm.valid">Aceptar</ion-button>

  </form>
</ion-content>