
.card-center {
    text-align: center;
    padding-top: 60%;
}
.rating {
    margin: 5%;
    text-align: center;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
}

.close {
    position: absolute;
    left: 80%;
    width: 65px;
}