<ion-content padding>
  <header>
    <p>Calificar usuario</p>
  </header>
  <div class="rating" (click)="rateUser($event)">
    <ion-range
      min="0"
      max="5"
      pin="true"
      snaps="true"
      color="primary">
      <ion-icon size="small" slot="start" name="star" color="primary"></ion-icon>
      <ion-icon slot="end" name="star" color="primary"></ion-icon>
    </ion-range>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="cancel()" color="secondary" expand="block">Cancelar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="save()" color="primary" expand="block" type="submit">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
