<ion-content>
  <div class="card-center">
    <ion-button class="close" (click)="close()" fill=“clear”>Cerrar</ion-button>
    <ion-card mode="ios">
      <h2>Calificar usuario</h2>
      <div class="rating">
        <ion-range (ionChange)="rateUser($event)"
          min="0"
          max="5"
          pin="true"
          snaps="true"
          color="primary"
          value={{rating}}>
          <ion-icon size="small" slot="start" name="star" color="primary"></ion-icon>
          <ion-icon slot="end" name="star" color="primary"></ion-icon>
        </ion-range>
      </div>
    </ion-card>
  </div>
</ion-content>
